/***********
Search Form
***********/

.form {

  &__search {
    background: #f1f1f1;
    border: 0;
    border-radius: $border-radius;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #333;
    padding: $input-padding;
    width: 200px;
  }

  &__submit {
    background-image: linear-gradient(#8b8e8f, #67696a);
    border: 0;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #fff;
    padding: $input-padding;
  }
}
