@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.weatherContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.weatherBlock{
    display: flex;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 200px;
    width: 100%;
    padding: 20px 10px;
    margin: 2px;
    border-radius: $border-radius;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: linear-gradient(#bfbfbf, #a0a0a0);
    position: relative;

    &__dataWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item{

        &--day{
            font-size: 12px;
            flex-grow: 4
        }
        &--icon{
            font-size: 24px;
            flex-grow: 2;
        }
        &--desc{
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            flex-grow: 1;
        }
        &--tempMain{
            font-size: 50px;
            font-weight: 900;
            flex-grow: 1;
        }
        &--tempSymbol{
            font-size:14px;
            flex-grow: 1;
        }
        &--tempSec{
            font-size: 12px;
            flex-grow: 1;
        }
    }
    &__backgroundIcon{
        position: absolute;
        bottom: -50px;
        left: -50px;
        width: 90%;
        max-height: 300px;
        opacity: 0.3;
    }

    &--clearSky{
        background-image: $clearSky;
    }
    &--fewClouds{
        background-image: $fewClouds;
    }
    &--scatteredClouds{
        background-image: $scatteredClouds;
    }
    &--brokenClouds{
        background-image: $brokenClouds;
    }
    &--showerRain{
        background-image: $showerRain;
    }
    &--rain{
        background-image: $rain;
    }
    &--thumderstorm{
        background-image: $thumderstorm;
    }
    &--snow{
        background-image: $snow;
    }
    &--mist{
        background-image: $mist;
    }
}

@include media-tablet {
    .weatherBlock{
        max-width: 200px;
        min-height: 400px;
        padding: 30px 0 100px;
        border-radius: 0;

        &:first-child{
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        }
        &:last-child{
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}
