@mixin media-tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin media-large-desktop {
  @media (min-width: #{$large-desktop}) {
    @content;
  }
}