/****************
    Media Queries
*****************/

$phone: 640px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

/***************
    Values
****************/
$border-radius: 10px;
$input-padding: 10px 20px;

/**************
    Colour gradients
***************/

$clearSky: linear-gradient(#ffdb4e, #ff9872);
$fewClouds: linear-gradient(#03B9A5, #30ECEB);
$scatteredClouds: linear-gradient(#3E93B2, #44EDEC);
$brokenClouds:  linear-gradient(#3E93B2, #44EDEC);
$showerRain:  linear-gradient(#066E94, #6fd4fb);
$rain:  linear-gradient(#24A0CD, #6fd4fb);
$thumderstorm:  linear-gradient(#0A465D, #61A1BA);
$snow:  linear-gradient(#74A3DE, #DCEDF4);
$mist:  linear-gradient(#919494, #D6D8D9);
