@import './app.vars';
@import './app.mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

@import './partials/form';
@import './partials/weatherBlock';
@import './partials/select';
